<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--给实体设置别名-->
    <typeAliases>
        <typeAlias type="com.ywb.entity.User" alias="User"/>
    </typeAliases>
<!--    配置mapper文件位置-->
    <mappers>
        <mapper resource="cardMapper.xml"/>
    </mappers>
</configuration>